body {
    margin: 0
}
li {
    list-style:none;
}
svg {
    position: static;
    pointer-events: none;
}
svg path{
    position: absolute;
    z-index:-1;
}
.node {
    width: 200px;
    border: solid 1px #666;
    background-color:#fff;
    border-radius:3px;
    -moz-box-shadow: 1px 1px 10px #000;
    -webkit-box-shadow: 1px 1px 10px #000;
}
.node.source {
    background-color:#fdc;
    -moz-box-shadow: 1px 1px 10px #faa;
    -webkit-box-shadow: 1px 1px 10px #faa;
}
.node.target {
    background-color:#cdf;
    -moz-box-shadow: 1px 1px 10px #aaf;
    -webkit-box-shadow: 1px 1px 10px #aaf;
}
.node_header {
    background-color:#acf;
}

.xButton {
    float:right;
    margin-top:0px;
    width: 20px;
    height: 10px;
    -webkit-border-bottom-right-radius: 3px;  
    -webkit-border-bottom-left-radius: 3px;  
    -moz-border-radius-bottomright: 3px;  
    -moz-border-radius-bottomleft: 3px;  
    border-right:solid 1px #555;
    border-left:solid 1px #555;
    border-bottom:solid 1px #555;
}
.xButton:hover{
    background-color:#954;
}

.node label{
    font-size:14px;
    vertical-align:center;
}
.param {
    width: 200px;
}
.param label{
    font-size:14px;
    vertical-align:center;
}
.container{
    position: absolute;
    background: #222;
    overflow: hidden;
}

input[type=range]{
    width: 80px;
}
canvas.analyser {
    border: inset 1px;
    width:198px;
    height:99px;
    mergin-top:10px;
    mergin-bottom:10px;
}

path{
    pointer-events: all;
}
path:hover{
    stroke: #a66;
    arrow-end-color: #a66;
}

